* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e212d;
  color: #eabf9f;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
  border: solid 1px red;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pomodoro {
  text-align: center;
}

.message {
  font-size: 2rem;
}

.timer {
  font-size: 4rem;
}
